body{
    background-color: rgb(252, 185, 249);
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
}

.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    align-items: center;
    justify-content: center;
}

#contador{
  outline-style: dashed;
  outline-color: rgb(164, 110, 234);
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(204, 155, 250);
  position: absolute;
  top: 12%;
  transform: translate(-50%);
  font-size: 20px;
  animation: contador 3s infinite alternate;
  text-align: center;
}

@keyframes contador {
  0% {
    transform: translate(-40%);
  }
  100% {
    transform: translate(-60%);
  }
  
}

.msg{
    color: black;
    outline-color: red;
    background-color: rgb(230, 160, 237);
    font-style: italic;
    font-size: 30px;
    text-align: center;
    outline-style: inset;
    border-radius: 5px;
    position: relative;
    margin: 0px;
    padding: 15px;
    align-items: center;
    scale: 0.8;
    transition: 0.5s;
}

.msg:hover{
    outline-color: rgb(224, 64, 249);
    scale: 0.9;
}


.txt{
    user-select: text;
    color: black;
    outline-color: red;
    background-color: rgb(230, 160, 237);
    font-style: italic;
    font-size: 30px;
    text-align: center;
    outline-style: inset;
    border-radius: 5px;
    position: relative;
    margin: 0px;
    padding: 15px;
    align-items: center;
    scale: 0.8;
    transition: 0.5s;
    overflow: scroll;
    max-height: 400px;
    transform: translate(0, -10%);
}

.txt:hover{
    outline-color: rgb(224, 64, 249);
    scale: 0.9;
}



/* Corazón que se balancea dentro del contenedor */
#cora1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: balanceoHorizontal 2.8s ease-in-out infinite alternate;
  transform-origin: center;
  font-size: 40px;
  position: absolute;
  top: 2%;
  left: 5%;
}

#cora2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: balanceoHorizontal 2.8s ease-in-out infinite alternate;
  transform-origin: center;
  font-size: 40px;
  position: absolute;
  top: 0%;
  left: 40%;
}

#cora3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: balanceoHorizontal 2.8s ease-in-out infinite alternate;
  transform-origin: center;
  font-size: 40px;
  position: absolute;
  top: 2%;
  right: 20%;
}

#cora4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: balanceoHorizontal 2.8s ease-in-out infinite alternate;
  transform-origin: center;
  font-size: 40px;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

#cora5 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: balanceoHorizontal 2.8s ease-in-out infinite alternate;
  transform-origin: center;
  font-size: 40px;
  position: absolute;
  bottom: 10%;
  left: 40%;
}

#cora6 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: balanceoHorizontal 2.8s ease-in-out infinite alternate;
  transform-origin: center;
  font-size: 40px;
  position: absolute;
  bottom: 10%;
  right: 20%;
}


/* Animación de balanceo lateral */
@keyframes balanceoHorizontal {
  0% {
    overflow: inherit;
    transform: translateX(-20px);
  }
  100% {
    overflow: inherit;
    transform: translateX(20px);
  }
}